* {
  margin: 0;
  padding: 0;

  --orange: #f7b633;
  --darkGray: #3b3b3b;
  --darkOrange: #fc4a1a;
  --lightGray: #7c7c7c;
  --buttonOrange: #f97d26;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  /* background-color: var(--orange); */
  color: #fff;
}

/* .container {
  display: flex;
  justify-content: center;
  margin: 60px 240px 0 240px;
}

.title {
  display: flex;
  width: 80vw;
  align-items: center;
  justify-content: space-between;
}

.title h1 {
  font-size: 10rem;
}
.container .first h3 {
  font-size: 80px;
  font-family: 'Roboto Regular', sans-serif;
  font-weight: 400;
}

.sub {
  display: grid;
  place-content: space-between;
  font-family: 'Roboto Regular', sans-serif;
  font-size: 60px;
  justify-content: space-around;
} */

.conteudo {
  display: block;
  /* margin: 75px 10vw; */
  width: 100vw;
  height: fit-content;
  background-color: #fff;
  text-align: center;
}

/* .conteudo::after {
  content: '';
  position: fixed;
  top: 80vh;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 20vh;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.01),
    var(--orange)
  );
} */

.arrow {
  display: block;
  position: relative;
}
.arrow #arrow_down {
  cursor: pointer;
  top: 0;
  left: 32.7rem;
  transition: 500ms ease-in-out;
}
.arrow #arrow_down:hover {
  position: absolute;
  top: 0.3rem;
  left: 32.7rem;
  transition: 500ms ease-in-out;
}

/* HEADER */

header {
  display: flex;
  color: var(--orange);
  font-size: 1rem;
  padding: 24px;
  align-items: flex-start;
  justify-content: space-between;
}

#logo {
  display: flex;
  margin-left: 90px;
  align-items: center;
}

header i img {
  padding: 0 5px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

header h2 {
  font-size: 2rem;
}

header ul {
  display: flex;
  list-style: none;
  margin-right: 90px;
}

header ul li {
  padding: 10px 25px;
}
header ul li a {
  text-decoration: none;
  color: var(--lightGray);
  transition: 700ms ease-in-out;
}
header ul li a:hover {
  background: var(--buttonOrange);
  color: #fff;
  padding: 5px 25px;
  border-radius: 3px;
  transition: 700ms ease-in-out;
}

/* Main */

.quality {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 68rem;
  height: 765px;
  padding: 0 3.6rem;
}

.quality .section {
  display: grid;
  color: var(--lightGray);
  font-family: 'Roboto light', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  width: 17em;
}
.quality .section h2 {
  font-size: 5.6rem;
  text-align: left;
  margin: 2rem 0;
  padding-right: 1rem;
}
.quality .section p {
  text-align: left;
  margin: 2rem 0;
  padding-right: 1rem;
}
.quality .section a {
  margin: 3rem 0;
  color: var(--darkOrange);
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 15rem;
  text-align: center;
  transition: 500ms ease;
}
.quality .section a:hover {
  color: #fff;
  background: var(--darkOrange);
  border-radius: 3px;
  padding: 0.5rem 0.5rem;
  transition: 500ms ease;
}

.imagem img {
  width: 450px;
  height: auto;
  padding-left: 1rem;
}

/* Trusted */

.trusted {
  display: block;
  color: var(--darkGray);
  margin: 4.5rem auto;
}
.trusted-p {
  align-items: center;
  justify-content: center;
}
.trusted h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3.75rem;
}
.trusted p {
  display: inline-block;
  max-width: 45vw;
  font-weight: 300rem;
  margin-top: 1.5rem;
}

.trusted-logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.more .agency h2 {
  color: var(--orange);
}

.services ul {
  display: flex;
  justify-content: space-evenly;
}

.services ul li {
  list-style: none;
  width: 16rem;
  height: 16rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.services {
  margin: 2rem 0;
}

.blocos h3 {
  text-align: left;
  font-size: 1.5rem;
}
.blocos p {
  color: var(--lightGray);
  text-align: left;
  font-size: 1.1rem;
}
#writing h3 {
  color: #be49e8;
}
#gdesign h3 {
  color: #5398e9;
}
#softdev h3 {
  color: #2bbc5d;
}

footer {
  display: flex;

  background: var(--orange);
  height: 23.8rem;
}

footer .grid {
  margin: 71px;
  display: flex;
  width: 100vw;
  place-content: center;
}

.grid .text-left {
  place-content: left;
  width: 33%;
}
.grid .text-left h2 {
  font-size: 2.5rem;
}
.grid .text-left h3 {
  font-size: 1.5rem;
  font-family: 'Roboto light', sans-serif;
  font-weight: 300;
  padding: 0.5rem 0;
}
.grid .text-left a {
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: 'Roboto light', sans-serif;
  font-weight: 300;
}

.grid .logo img {
  height: 235px;
  width: auto;
  margin: 0 4rem;
}

.grid .text-right {
  width: 30%;
}
.grid .text-right img {
  position: absolute;
  right: 24rem;
}
.grid .text-right h2 {
  font-size: 2rem;
  margin: 1rem;
}
.grid .text-right p {
  padding: 0 1.5rem;
  font-family: 'Roboto light', sans-serif;
  margin: 0.8rem;
}
