* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
}
body a {
  text-decoration: none;
  padding: 0 0.5rem;
  transition: 300ms ease-in-out;
}
body a:hover {
  background: #f97d26;
  color: #fff;
  border-radius: 3px;
  transition: 300ms ease-in-out;
}

.conteudo {
  display: block;
  width: 100vw;
  height: fit-content;
  background-color: #fff;
  text-align: center;
}

/* Login */
#login,
#register {
  display: grid;
  position: fixed;
  background: white;
  background-image: url("../images/BG-1.png");
  top: 5rem;
  left: 20vw;
  width: 60vw;
  height: 80vh;
  margin: auto;
  border-radius: 10px;
  color: #7c7c7c;
  z-index: 3;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
#login .caixa-login img,
#register .caixa-login img {
  width: 4rem;
  height: auto;
  margin: 3.3rem 0 1rem;
}
#login .caixa-login h1,
#register .caixa-login h1 {
  font-size: 1.3rem;
}
#login input,
#register input {
  height: 1.6rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: none;
  background: #f1f1f1;
}
#login .keepme,
#register .keepme {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#login-btn {
  display: inline-block;
  place-content: center;
  width: fit-content;
  padding: 0.5rem 3.5rem;
  font-size: 1.4rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Roboto Condensed" sans-serif;
  color: #f1f1f1;
  background: #f7b633;
}

#register-opc {
  color: #f7b633;
  cursor: pointer;
}

#register {
  color: #f7b633;
  text-decoration: none;
}
#register .caixa-cad img {
  width: 4rem;
  height: auto;
  margin: 3.3rem 0 1rem;
}
#register .caixa-cad h1 {
  font-size: 1.3rem;
}
#register input {
  height: 1.6rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: none;
  background: #f1f1f1;
}
#register .user-terms {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#register-btn {
  display: inline-block;
  place-content: center;
  width: fit-content;
  padding: 0.5rem 3.5rem;
  font-size: 1.4rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Roboto Condensed" sans-serif;
  color: white;
  background: #f7b633;
  cursor: pointer;
}

/* ---------------------------- */
.arrow {
  display: block;
  position: relative;
}
.arrow #arrow_down {
  cursor: pointer;
  top: 0;
  left: 48.3vw;
  transition: 500ms ease-in-out;
}
.arrow #arrow_down:hover {
  position: absolute;
  top: 0.3rem;
  left: 48.3vw;
  transition: 500ms ease-in-out;
}

/* HEADER */
#logo {
  display: flex;
  margin-left: 90px;
  align-items: center;
}

header {
  display: flex;
  width: 100vw;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  background: white;
  color: #f7b633;
  font-size: 1rem;
  padding: 24px;
  align-items: flex-start;
  justify-content: space-between;
}
header i img {
  padding: 0 5px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
header h2 {
  font-size: 2rem;
}
header ul {
  display: flex;
  list-style: none;
  margin-right: 90px;
}
header ul li {
  padding: 10px 25px;
}
header ul li a {
  color: #7c7c7c;
  padding: 5px 25px;
}
header ul li a:hover {
  background: #f97d26;
  color: #f1f1f1;
  border-radius: 3px;
}

/* Main */
.quality {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 68rem;
  height: 765px;
  padding: 0 3.6rem;
}
.quality .section {
  display: grid;
  color: #7c7c7c;
  font-family: "Roboto light", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  width: 17em;
}
.quality .section h2 {
  font-size: 5.6rem;
  text-align: left;
  margin: 2rem 0;
  padding-right: 1rem;
}
.quality .section p {
  text-align: left;
  margin: 2rem 0;
  padding-right: 1rem;
}
.quality .section a {
  margin: 3rem 0;
  color: #fc4a1a;
  font-family: "Roboto Condensed", sans-serif;
  margin-right: 15rem;
  text-align: center;
}
.quality .section a:hover {
  color: #f1f1f1;
  background: #fc4a1a;
  border-radius: 3px;
  padding: 0.5rem 0.5rem;
}

.imagem img {
  width: 450px;
  height: auto;
  padding-left: 1rem;
}

/* Trusted */
.trusted {
  display: block;
  color: #3b3b3b;
  margin: 4.5rem auto;
}
.trusted-p {
  align-items: center;
  justify-content: center;
}
.trusted h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3.75rem;
}
.trusted p {
  display: inline-block;
  max-width: 45vw;
  font-weight: 300rem;
  margin-top: 1.5rem;
}
.trusted-logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.more .agency h2 {
  color: #f7b633;
}

/** Services **/
.services {
  margin: 2rem 0;
}
.services ul {
  display: flex;
  justify-content: space-evenly;
}
.services ul li {
  list-style: none;
  width: 16rem;
  height: 16rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 30px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
.services ul li p {
  padding: 0.3rem 1rem;
}

.blocos h3 {
  text-align: left;
  font-size: 1.5rem;
}
.blocos p {
  color: #7c7c7c;
  text-align: left;
  font-size: 1rem;
}

#writing .title1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#writing .title1 h3 {
  width: fit-content;
  color: #be49e8;
}
#writing .title1 img {
  background: rgba(190, 73, 232, 0.25);
  border-radius: 25%;
  width: 50.2px;
  height: auto;
}

#gdesign .title2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#gdesign .title2 h3 {
  width: fit-content;
  color: #5398e9;
}
#gdesign .title2 img {
  background: rgba(90, 155, 233, 0.25);
  border-radius: 25%;
  width: 50.2px;
  height: auto;
}

#softdev .title3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#softdev .title3 h3 {
  width: fit-content;
  color: #2bbc5d;
}
#softdev .title3 img {
  background: rgba(43, 188, 93, 0.25);
  border-radius: 25%;
  width: 50.2px;
  height: auto;
  place-content: left;
  width: 33%;
}
#softdev .title3 img h2 {
  font-size: 2.5rem;
}
#softdev .title3 img h2 h3 {
  font-size: 1.5rem;
  font-family: "Roboto light", sans-serif;
  font-weight: 300;
  padding: 0.5rem 0;
}
#softdev .title3 img h2 a {
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: "Roboto light", sans-serif;
  font-weight: 300;
}

#testimonials h2 {
  font-family: "Roboto light", sans-serif;
  font-size: 3rem;
  max-width: 50vw;
  text-align: left;
  margin: 0 6rem;
}
#testimonials .agency {
  color: #f7b633;
  font-weight: 300;
}

footer {
  display: flex;
  background: #f7b633;
  height: 23rem;
}
footer .grid {
  margin: 71px;
  display: flex;
  width: 100vw;
  place-content: center;
}
footer .grid .logo img {
  height: 235px;
  width: auto;
  margin: 0 4rem;
  padding: 0 6rem;
  margin: 0 6rem;
}
footer .grid .text-right {
  width: 30%;
}
footer .grid .text-right img {
  position: absolute;
  right: 24rem;
}
footer .grid .text-right h2 {
  font-size: 2rem;
  margin: 1rem;
}
footer .grid .text-right p {
  padding: 0 1.5rem;
  font-family: "Roboto light", sans-serif;
  margin: 0.8rem;
}
footer .grid .text-left {
  place-content: left;
  width: 33%;
}
footer .grid .text-left h2 {
  font-size: 2.5rem;
}
footer .grid .text-left h3 {
  font-size: 1.5rem;
  font-family: "Roboto light", sans-serif;
  font-weight: 300;
  padding: 0.5rem 0;
}
footer .grid .text-left a {
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: "Roboto light", sans-serif;
  font-weight: 300;
}

/*# sourceMappingURL=styles.css.map */
